---
import kvikPhotosLogoDarkMode from "../images/kvikphotos-logo-dark-mode.png"
---

<a href="https://kvik.photos" target="_blank">
  <img src={kvikPhotosLogoDarkMode.src} alt="KvikPhotos Logo" class="h-16 w-auto" />
</a>

<p class="mt-4 font-medium">KvikPhotos helps you share your RAW photos with friends, family and clients</p>

<ul>
  <li class="pl-1 text-zinc-400">
    <span class="text-indigo-500 font-semibold">&ndash; </span>
    Easily upload photos
  </li>
  <li class="pl-1 text-zinc-400">
    <span class="text-indigo-500 font-semibold">&ndash; </span>
    Automatically convert them into JPEGs
  </li>
  <li class="pl-1 text-zinc-400">
    <span class="text-indigo-500 font-semibold">&ndash; </span>
    Share your best photos and albums with a link
  </li>
</ul>

<a href="https://kvik.photos" target="_blank" class="mt-4 inline-block font-semibold px-4 py-2 rounded-lg bg-white text-zinc-800 hover:bg-zinc-100">
  <span class="text-indigo-600 font-semibold translate-y-px inline-block">&rarr; </span>
  Register today and receive <strong class="font-bold text-indigo-600">50GB</strong> of free storage
</a>
