@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .max-w-screen {
    max-width: 100vw;
  }

  .w-prose {
    width: 65ch;
  }

  .max-w-prose {
    max-width: 65ch;
  }

  .text-accent {
    @apply font-medium text-black dark:text-white;
  }

  .link {
    @apply text-accent border-b border-zinc-200 dark:border-zinc-700 pb-px px-px hover:border-zinc-400 dark:hover:border-zinc-400;
  }
}
