---
const { frontmatter } = Astro.props
---

<!doctype html>
<html class="scroll-smooth" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={frontmatter.description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{frontmatter.title}</title>
	</head>
	<body class="text-sans antialiased py-24 bg-zinc-950 text-zinc-100 px-4">
	<div class="prose prose-invert mx-auto">
		<slot />
	</div>
	</body>
</html>

<style is:global>
	.astro-code {
		@apply bg-zinc-900 !important;
	}
</style>
