---
const { frontmatter } = Astro.props
---

<!doctype html>
<html class="scroll-smooth" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={frontmatter.description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{frontmatter.title}</title>
	</head>
	<body class="text-sans antialiased bg-zinc-950 text-zinc-100 px-4">
		<div class="container flex items-center justify-end mx-auto pt-4">
      <a
				href="https://github.com/kodmq/kodmq"
				target="_blank"
				class="hover:text-zinc-200"
			>
        <svg class="w-8 h-8" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.222 3.00879H7.78698C4.62498 3.00879 2.50098 5.23179 2.50098 8.53879V16.4878C2.50098 19.7898 4.62498 22.0088 7.78698 22.0088H9.24398C9.38598 22.0088 9.51998 21.9488 9.61598 21.8448C9.70998 21.7388 9.75598 21.5998 9.74198 21.4588C9.59898 20.0208 10.422 18.4998 10.774 18.1378C10.906 18.0008 10.95 17.8028 10.887 17.6238C10.825 17.4458 10.667 17.3178 10.479 17.2928C8.63298 17.0558 6.92498 16.4278 6.92498 13.4568C6.92198 12.7098 7.20298 12.0018 7.71698 11.4648C7.84998 11.3258 7.89098 11.1238 7.82498 10.9448C7.62198 10.4038 7.60298 9.82079 7.76198 9.27779C8.05798 9.32279 8.64098 9.49779 9.55398 10.1128C9.67398 10.1948 9.82598 10.2188 9.96498 10.1808C11.3 9.81579 12.707 9.81579 14.036 10.1808C14.179 10.2188 14.329 10.1948 14.449 10.1128C15.37 9.49179 15.955 9.32079 16.241 9.27479C16.401 9.81779 16.381 10.4008 16.18 10.9458C16.114 11.1258 16.156 11.3278 16.288 11.4658C16.797 11.9938 17.077 12.6948 17.077 13.4388C17.077 16.4638 15.373 17.0728 13.533 17.2808C13.343 17.3028 13.182 17.4298 13.118 17.6098C13.053 17.7888 13.096 17.9888 13.229 18.1258C13.57 18.4778 14.401 20.0338 14.259 21.4588C14.244 21.5998 14.29 21.7388 14.385 21.8448C14.48 21.9488 14.615 22.0088 14.756 22.0088H16.213C19.375 22.0088 21.499 19.7898 21.499 16.4878V8.53879C21.499 5.23179 19.378 3.00879 16.222 3.00879Z" fill="currentColor" />
        </svg>
      </a>
    </div>

		<div class="prose prose-invert mx-auto pt-16 pb-24">
      <slot />
		</div>
	</body>
</html>

<style is:global>
	.astro-code {
		@apply bg-zinc-900 !important;
	}
</style>
